# To run subsystem tests locally execute the command in the container terminal: az login 
# The following environment variables are required to run the subsystem tests locally

# Databricks settings
DATABRICKS_TOKEN=""
DATABRICKS_WORKSPACE_URL=""
DATABRICKS_WAREHOUSE_ID=""
CATALOG_NAME=""

# Kafka settings
KAFKA_EVENT_HUB_NAMESPACE=""
KAFKA_EVENT_HUB_SUBMITTED_TRANSACTIONS_INSTANCE=""
KAFKA_EVENT_HUB_RECEIPT_INSTANCE=""
