# This is a pip 'requirements.txt' file.
# See https://pip.pypa.io/en/stable/reference/requirements-file-format/
opengeh-testcommon @ git+https://github.com/Energinet-DataHub/opengeh-python-packages@3.3.0#subdirectory=source/testcommon