# Documentation for python-dotenv https://github.com/theskumar/python-dotenv
# This file contains environment variables.
# Code in the application, which uses environment variables (e.g. from `os.environ` or
# `os.getenv`) as if they came from the actual environment.

# Used by container test 
WORKSPACE_URL=[workspace url]
DATABRICKS_TOKEN=[databricks token]