# To run subsystem tests locally execute the command in the container terminal: az login 
# The following environment variables are required to run the subsystem tests locally

# Databricks settings
DATABRICKS_TOKEN=<The Databricks token (dbw-workspace-token)>
WORKSPACE_URL=<The Databricks workspace url (dbw-workspace-url)>

CALCULATED_MEASUREMENTS_WAREHOUSE_ID=<Calculated measurements warehouse id (dbw-databricks-sql-endpoint-id-deployment)>
SHARED_CATALOG_NAME=<Shared catalog name>

# Azure settings
SHARED_KEYVAULT_NAME=<The name of shared Azure keyvault>

# TODO BJM: Doc and update secrets
CALCULATED_MEASUREMENTS_WAREHOUSE_ID=<Calculated measurements warehouse id>

# Override Electricity Market database name to override for subsystem tests
# This value must match the value set in dh3environments
ELECTRICITY_MARKET_MEASUREMENTS_INPUT_DATABASE_NAME=electricity_market_measurements_input_database_name_for_subsystem_tests
