# To run subsystem tests locally execute the command in the container terminal: az login 
# The following environment variables are required to run the subsystem tests locally

# Databricks settings
DATABRICKS_TOKEN=<The Databricks token (dbw-workspace-token)>
WORKSPACE_URL=<The Databricks workspace url (dbw-workspace-url)>

# Azure settings
SHARED_KEYVAULT_NAME=<The name of shared Azure keyvault>
