#
# These settings are for dev_002.
# 
#
# To run subsystem tests locally
# - Make a copy of this file and rename it to `.env` and insert proper values
#   It's however easier to get the copy from the dh3secrets repo
# - Use VPN
# - Execute the command `az login` in the container terminal
#   Make sure to use your xxx-aadadmin@energinet.dk account and select the proper
#   subscription corresponding to the settings in the .env file
#
# Read more on running the tests locally here:
# https://energinet.atlassian.net/wiki/spaces/D3/pages/734625847/VPN+for+dev+test


# Databricks settings
DATABRICKS_TOKEN=<The Databricks token (dbw-workspace-token)>
WORKSPACE_URL=<The Databricks workspace url (dbw-workspace-url)>
SHARED_CATALOG_NAME=<Shared catalog name>

# Azure settings
SHARED_KEYVAULT_NAME=<The name of shared Azure keyvault>

# This is used to execute SQL statements in subsystem tests.
# It is, however, the ID of the warehouse for deployment as it's the only one we currently have.
CALCULATED_MEASUREMENTS_WAREHOUSE_ID=<Calculated measurements warehouse id>

# Override Electricity Market database name to override for subsystem tests
# This value must match the value set in dh3environments
ELECTRICITY_MARKET_MEASUREMENTS_INPUT_DATABASE_NAME=electricity_market_measurements_input_database_name_for_subsystem_tests
