# container_tests:
# A DataBricks token is required when running container tests locally.
DATABRICKS_TOKEN=<databricks_token>

# The Databricks workspace URL is required when running container tests locally.
WORKSPACE_URL=<workspace-url>