# container_tests:
# A DataBricks token is required when running container tests locally.
container_test__databricks_token=<databricks_token>

# The Databricks workspace URL is required when running container tests locally.
container_test__databricks_workspace_url=<workspace-url>