# Exclude actual local test settings files
.env
*.local.settings.yml

# Exclude directory created by wheel creation
*.egg-info
dist
build

# Exclude files and directory created by codecov
htmlcov
coverage.json

# These are included here so vscode explorer hides them when configured to respect the .gitignore file
venv
.mypy_cache
.pytest_cache
.test-pytest
.lock
*/pyvenv.cfg
