# Copyright 2020 Energinet DataHub A/S
#
# Licensed under the Apache License, Version 2.0 (the "License2");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CD

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  changes:
    uses: ./.github/workflows/detect-changes.yml

  cd_reusable:
    name: Continuous Deployment
    needs: [changes]
    if: ${{ needs.changes.outputs.python_packages == 'true' }}
    uses: Energinet-DataHub/.github/.github/workflows/python-uv-cd.yml@v14
    with:
      packages_directory: source
      subsystem_name: Measurements
      notification_email: 18ac1620.energinet.onmicrosoft.com@emea.teams.ms
      sender_email: ${{ vars.email_internal_sender }}
      postfix_latest: true
      dispatch_deployment_event: true
      environment_repository_path: ${{ vars.environment_repository_path }}
      dh3serviceaccount_appid: ${{ vars.dh3serviceaccount_appid }}
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
      dh3serviceaccount_privatekey: ${{ secrets.dh3serviceaccount_privatekey }}
      send_grid_api_key: ${{ secrets.sendgrid_instance_system_notifications_api_key }}

  dotnet_promote_prerelease:
    needs: [changes]
    if: ${{ needs.changes.outputs.dotnet == 'true' }}
    uses: Energinet-DataHub/.github/.github/workflows/promote-prerelease.yml@v14
    with:
      release_name_prefix: dotnet

  dispatch_deployment_event:
    runs-on: ubuntu-latest
    needs: [changes, dotnet_promote_prerelease]
    if: ${{ always() && !cancelled() && !failure() && needs.changes.outputs.dotnet == 'true' }}
    steps:
      - run: echo "${{ toJSON(needs) }}"

      - name: Find associated pull request
        uses: Energinet-DataHub/.github/.github/actions/find-related-pr-number@v14
        id: find_pull_request

      - uses: Energinet-DataHub/.github/.github/actions/github-create-token@v14
        name: Generate Github token
        id: generate_token
        with:
          app_id: ${{ vars.dh3serviceaccount_appid }}
          private_key: ${{ secrets.dh3serviceaccount_privatekey }}

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
          repository: ${{ vars.environment_repository_path }}
          event-type: measurements-core-deployment-request-domain-dotnet
          # yamllint disable-line rule:quoted-strings
          client-payload: '{"dotnet_pr_number": "${{ steps.find_pull_request.outputs.pull_request_number }}"}'

  dispatch_failed:
    needs: [dotnet_promote_prerelease, dispatch_deployment_event]
    if: |
      always() &&
      contains(needs.*.result, 'failure')
    uses: Energinet-DataHub/.github/.github/workflows/notify-team.yml@v14
    with:
      team_name: Volt
      subject: "Deployment dispatch failed: opengeh-measurements"
    secrets: inherit
